.card::before{
    @apply absolute content-[""] w-3/4 h-[5000px] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-[#ffac15] rotate-[30deg] -z-10;
    
}


.card::after{
    @apply absolute content-[""] inset-[5px] bg-[#0d0b21] -z-10 rounded-2xl ;
}


@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

.wrapper {
  position: relative;
  width: 100%;
  padding: 10px 0;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
  padding: 2px 40px;
  background-color: #6225E6;
  box-shadow: 0 15px 30px 0 rgba(46, 41, 41, 0.4);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.cta:hover {
  background-color: #ffac15;
  box-shadow: 0 15px 30px 0 rgba(46, 41, 41, 0.6);
  transform: translateX(10px);
}

.cta span {
  margin-right: 10px;
}

svg {
  width: 30px;
  height: 43px;
  fill: none;
}

.one, .two, .three {
  transition: 0.2s;
}

.cta:hover .three {
  transform: translateX(30px);
}

.cta:hover .two {
  transform: translateX(30px);
}

.cta:hover .one {
  transform: translateX(30px);
}
